body{
    background-color:$DarkBlue;
    font-family: 'Manrope', sans-serif;
}

.caja{
    position:absolute;
    width:35%;
    height:40%;
    top:30%;
    left:29%;
    background-color:$DarkGrayishBlue;
    padding:3rem;
    border-radius:15px;
   
   
    @media(max-width:768px){
        width:60%;
        left:10%;
        height:15%;
    
    }
    @media(max-width:375px){
        height:31%;
    }
    @media(max-width:360px){
        height:40%;
    }
    @media(max-width:320px){
        height:60%;
    }
    &__heading{
        color:$NeonGreen;
        font-size:16px;
        text-align:center;
        @media(max-width:768px){
            text-align:justify;
        }
    }
    &__contenedor{
        display:flex;
        flex-direction: column;
        align-items: center;
        gap:2rem;
        @media(max-width:768px){
            gap:0;
        }
    }
    &__logo{
        background-color:$NeonGreen;
        padding:15px;
        border-radius:30px;
        position:relative;
        top:20px;
    }
    &__imagen img{
        @media(max-width:768px){
            width:300px;
            font-size:30px;
        }
    }
}

.centrar{
    text-align:center;
    color:#fff;
    font-size:25px;
}

